.key {
    display: flex;
    color: white;
    list-style: none;

}

.key li {
    margin-left: 20px;
    color: #fff;
}

.key li a {
    text-decoration: none;
    color: white;
    font-family: serif;
}

li {
    list-style: none;
    margin-left: 20px;
    color: white;

}


li a {
    color: white;
    text-decoration: none;
}